.productList{
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 4rem;
    z-index: 0;
   
}

.input{
    margin-top: 70px;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: white;
    font-family: 'Kalam', cursive;
    font-size: 15px;
}

