.container-nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background: rgba( 255, 255, 255, 0.2 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
-webkit-backdrop-filter: blur( 3.5px );
backdrop-filter: blur( 3.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    font-family: 'Kalam', cursive;
    height: 50px;
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.container-nav h2{
    font-size: 700;
}

a{
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
}

.container-nav__link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;

}

.container-nav__link a:hover{
    border-bottom: 2px solid rgb(230, 40, 34);
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.container-nav__basket{
    position: relative;

}

.container-nav__basket p{
    position: absolute;
    background-color: rgba(255, 0, 0, 0.541);
    width:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: 0px;
    left: 20px;
    animation: beat .25s infinite alternate;
	transform-origin: center;
    
}

@keyframes beat{
	to { transform: scale(1.4); }
}